<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameTime</key>
	<integer>10</integer>
	<key>playerFlickForceScale</key>
	<integer>150</integer>
	<key>playerPullForceScale</key>
	<integer>500</integer>
	<key>playerSizeIPad</key>
	<integer>60</integer>
	<key>playerSizeIPhone</key>
	<integer>25</integer>
	<key>playerMass</key>
	<integer>20</integer>
	<key>ballSizeIPad</key>
	<integer>20</integer>
	<key>ballSizeIPhone</key>
	<integer>10</integer>
	<key>themes</key>
	<array>
		<string>themePrototype</string>
		<string>themeModern</string>
		<string>themeSpace</string>
		<string>themeCoin</string>
	</array>
	<key>themeModern</key>
	<dict>
		<key>name</key>
		<string>Modern</string>
		<key>font</key>
		<string>Superclarendon-BlackItalic</string>
		<key>fontColor</key>
		<string>black</string>
		<key>playerSprite</key>
		<string>mod_player</string>
		<key>ballSprite</key>
		<string>mod_ball</string>
		<key>playerTrail</key>
		<string>mod_player_bg</string>
		<key>ballTrail</key>
		<string>mod_ball_bg</string>
		<key>background</key>
		<string>mod_field</string>
		<key>ballHitSound</key>
		<string>mod_hit.mp3</string>
		<key>slideSound</key>
		<string>mod_slide.mp3</string>
		<key>gameOverSound</key>
		<string>mod_game over.mp3</string>
	</dict>
	<key>themePrototype</key>
	<dict>
		<key>name</key>
		<string>Prototype</string>
		<key>font</key>
		<string>Chalkduster</string>
		<key>fontColor</key>
		<string>black</string>
		<key>playerSprite</key>
		<string>proto_player</string>
		<key>ballSprite</key>
		<string>proto_ball</string>
		<key>playerTrail</key>
		<string>proto_player_bg</string>
		<key>ballTrail</key>
		<string>proto_ball_bg</string>
		<key>background</key>
		<string>proto_bg</string>
		<key>ballHitSound</key>
		<string>proto_hit.mp3</string>
		<key>slideSound</key>
		<string>proto_slide.mp3</string>
		<key>gameOverSound</key>
		<string>proto_game over.mp3</string>
	</dict>
	<key>themeCoin</key>
	<dict>
		<key>name</key>
		<string>Coin</string>
		<key>font</key>
		<string>Copperplate</string>
		<key>fontColor</key>
		<string>white</string>
		<key>playerSprite</key>
		<string>coin_player</string>
		<key>ballSprite</key>
		<string>coin_ball</string>
		<key>playerTrail</key>
		<string>coin_player</string>
		<key>ballTrail</key>
		<string>coin_ball</string>
		<key>background</key>
		<string>coin_bg</string>
		<key>ballHitSound</key>
		<string>coin_hit.mp3</string>
		<key>slideSound</key>
		<string>coin_slide.mp3</string>
		<key>gameOverSound</key>
		<string>coin_game over.mp3</string>
	</dict>
	<key>themeSpace</key>
	<dict>
		<key>name</key>
		<string>Space</string>
		<key>font</key>
		<string>DamascusBold</string>
		<key>fontColor</key>
		<string>white</string>
		<key>playerSprite</key>
		<string>space_player</string>
		<key>ballSprite</key>
		<string>space_ball</string>
		<key>playerTrail</key>
		<string>space_player_bg</string>
		<key>ballTrail</key>
		<string>space_ball_bg</string>
		<key>background</key>
		<string>space_bg</string>
		<key>ballHitSound</key>
		<string>space_hit.mp3</string>
		<key>slideSound</key>
		<string>space_slide.mp3</string>
		<key>gameOverSound</key>
		<string>space_game over.mp3</string>
	</dict>
</dict>
</plist>
